# Описание типов и структур данных Python

In [1]:
print('Hello world!') # Функция print - выводит на экран какие-либо значения

Hello world!

In [2]:
print('asdasdasd')

asdasdasd

In [3]:
print(2)

2

## Стандартные вычислительные операции

In [4]:
2/3

0.6666666666666666

In [5]:
3 * 2

6

In [6]:
2 + 3

5

In [7]:
12*(34 - 56)/8

-33.0

In [8]:
10 / 3

3.3333333333333335

In [9]:
3 + 0.0000000000000005

3.0000000000000004

In [10]:
1 + .0000000000000005

1.0000000000000004

In [11]:
10//3

3

In [12]:
10.5 // 3.6

2.0

In [13]:
(-10)//3 # Python округляет в меньшую сторону

-4

In [17]:
-10/3

-3.3333333333333335

In [18]:
10 % 3         # Остаток от деления

1

In [19]:
(-10) % 3       # Остаток от деления

2

In [20]:
3**3 # Возведение числа в степень

27

In [21]:
10**1000

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [22]:
10.0**100

1e+100

In [24]:
x = 2          # Присваивание. Результат не отображается
y = 9-x
print(x, y)

2 7

In [25]:
x, y

(2, 7)

In [26]:
# Переменные можно переприсваивать:
x = 5

In [27]:
x, y # Икс поменялся, игрик не поменялся , так как мы его не переприсваивали

(5, 7)

In [28]:
# Способ переприсвоения переменной основываясь на её предыдущем значении
x = 2
x = x + 3
print(x)

5

In [30]:
# Это то же самое что и в примере выше, только короче
x = 2
x += 3 
print(x)

5

# Типы данных

## Числовой тип данных

In [36]:
# В данном случае мы специально выбрали такие названия для наглядности, в реальной задаче вы можете использовать любые названия переменных, но с некоторыми ограничениями
int_number = 5 # Числовой тип данных
float_number = 2.45 # Числовой тип данных с плавающей запятой
string_sentence = 'Hello world!' # Строковый тип данных, который всегда пишется в кавычках!
bool_type = True # Логический тип данных

In [39]:
type(int_number)

int

In [40]:
type(float_number)

float

In [41]:
type(string_sentence)

str

In [42]:
type(bool_type)

bool

## Строковые типы

_Строка_ - неизменяемый контейнер символов

In [44]:
hello_string = 'Hello народ!' # Выводится всё что находится в первых инициализированных кавычках
print(hello_string)

Hello народ!

In [45]:
hello_string = '"Hello" народ!'
print(hello_string)

"Hello" народ!

In [46]:
hello_string = "'Hello' народ!"
print(hello_string)

'Hello' народ!

In [47]:
hello_string = "Hello' народ!"
print(hello_string)

Hello' народ!

In [48]:
hello_string

"Hello' народ!"

In [51]:
hello_string[0] # Обращение к каждому символу строки поэлементно

'H'

In [53]:
# hello_string[0] = 'h' # Так нельзя

In [54]:
len(hello_string) # Функция len позволяющая измерить кол-во символов в строке

13

In [55]:
type(hello_string)

str

In [56]:
hello_string = 2

In [57]:
type(hello_string)

int

In [58]:
s = "Язык программирования 'Питон'"
print(s)

Язык программирования 'Питон'

In [63]:
s1 = "Hello"
s2 = "World"
s = s1 + " " + s2 + "!"    # Строки можно складывать между собой обычным оператором сложения
print(s)

Hello World!

In [67]:
s

'Hello World!'

In [68]:
s[0:5] # Использование "срезов" в строках

'Hello'

In [69]:
s*3 # Строки можно умножать :)

'Hello World!Hello World!Hello World!'

In [75]:
s = "0123456abc"
print(s[0])      # Первый символ
print(s[1])      # Второй символ
print(s[-1])     # Последний символ 
print(s[-2])     # Предпоследний символ

0
1
c
b

In [82]:
s = "Hello World!"
print(s)
print(s.upper())
print(s.lower())

Hello World!
HELLO WORLD!
hello world!

In [85]:
# upper(s) # так нельзя
# s.len() # так нельзя

AttributeError: 'str' object has no attribute 'len'

In [86]:
s.upper()
len(s)

12

## Булевский тип

In [89]:
True

True

In [90]:
False

False

`True` - в Python подразумевает как цифру 1, `False` - как цифру 0

In [91]:
1 > 2

False

In [92]:
1 <= 2

True

In [93]:
type(True)

bool

In [96]:
2 == 2

True

In [97]:
1 != 2

True

Сравнение: `==`   `!=`   `<`   `>`   `<=`   `>=`

Логические связки: `not` `and` `or`

In [99]:
age = 49
# print(Age < 18 or Age > 55)
# print(Age >= 18 and Age <= 55)
# print(18 <= Age <= 55)

In [106]:
age > 18 or age < 60 or age < 9999999 or age > 50

True

In [105]:
age > 18 and age < 60 and age < 9999999 and age > 50

False

In [107]:
True <= False

False

In [108]:
5 > 1 < 2

True

In [109]:
'Вася' < 'Петр Иванович'

True

## Списки

_Список_ (list) - изменяемый (mutable) контейнер. Обращение к элементу списка - по индексу.

In [110]:
lst=[1,2,5, 123, -4]

In [114]:
lst[-1]

-4

In [115]:
lst = [1, 2.0, 3, 'four', True, [123,321]]
lst

[1, 2.0, 3, 'four', True, [123, 321]]

In [118]:
lst[5][1]

321

In [119]:
lst[0] = 'One'
lst

['One', 2.0, 3, 'four', True, [123, 321]]

In [120]:
[]

[]

In [121]:
type(lst)

list

In [122]:
len(lst)

6

In [123]:
lst[0]

'One'

In [124]:
lst[1]

2.0

In [125]:
lst[-1]

[123, 321]

In [126]:
lst[-1][0]

123

In [127]:
lst[-2]

True

In [128]:
lst

['One', 2.0, 3, 'four', True, [123, 321]]

In [129]:
lst[2] = [12, 'three'] # Можно добавить список в список!
lst

['One', 2.0, [12, 'three'], 'four', True, [123, 321]]

In [130]:
len(lst)

6

In [136]:
lst[1:4][1][1]   # Срез в списке (slice)

'three'

In [137]:
lst

['One', 2.0, [12, 'three'], 'four', True, [123, 321]]

In [139]:
lst[-1][-1]

321

In [140]:
lst = [1,2,3,4,5,[1,2,3,4]]

In [141]:
lst[2:4]

[3, 4]

In [142]:
lst

[1, 2, 3, 4, 5, [1, 2, 3, 4]]

In [143]:
lst + lst # Списки можно складывать! Работает почти также как со строками

[1, 2, 3, 4, 5, [1, 2, 3, 4], 1, 2, 3, 4, 5, [1, 2, 3, 4]]

In [144]:
2*lst # Можно сделать то же самое операцией сложения

[1, 2, 3, 4, 5, [1, 2, 3, 4], 1, 2, 3, 4, 5, [1, 2, 3, 4]]

In [153]:
lst = [0, 1, 2, 3, 4]
lst2 = lst
lst2[1] = 111  # lst меняется
print(lst2)
print(lst)

[0, 111, 2, 3, 4]
[0, 111, 2, 3, 4]

In [155]:
lst3 = [1,2,3]

In [156]:
lst3 is lst

False

In [166]:
lst = [0, 1, 2, 3, 4]
lst3 = lst[:]
lst3[1] = 11
print(lst3)
print(lst)

[0, 11, 2, 3, 4]
[0, 1, 2, 3, 4]

In [167]:
[1,2,3] == [1,2,3]

True

In [169]:
a = [1,2,3]
b = [1,2,3]

In [170]:
id(a)

1998026163520

In [171]:
id(b)

1998026257600

In [168]:
[1,2,3] is [1,2,3]

False

In [172]:
2==2

True

In [173]:
a=2
b=2
a is b

True

In [182]:
winter = ['December', 'January', 'February']
spring = ['March', 'April', 'May']
summer = ['June', 'July', 'August']
autumn = ['September', 'October', 'November']
print(winter + summer)            # Сложение списков (конкатенация)
print([winter, summer, spring])   # Список списков

['December', 'January', 'February', 'June', 'July', 'August']
[['December', 'January', 'February'], ['June', 'July', 'August'], ['March', 'April', 'May']]

In [190]:
year = winter + spring + summer + autumn
print(year)

['December', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']

В Python существуют методы которые можно применять к различным переменным. Методом называют всё что применяется к какой-либо переменной с точкой. Например : `.append()`

In [191]:
new_year = year[:]
new_year.append('January') # В данном случае .append() - это метод позволяющий добавить в конец списка какое-либо значение
new_year

['December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'January']

In [192]:
year

['December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November']

In [193]:
year = year + ['February']
year

['December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'February']

In [194]:
year

['December',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'February']

In [195]:
'January' in year

True

In [196]:
winter

['December', 'January', 'February']

In [198]:
'January' not in winter

False

In [202]:
year.append('NewMonth')
print(year)
year.pop()
print(year)

['December', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'February', 'NewMonth']
['December', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'February']

In [203]:
lst = []
item = 2
indx = 0

Существую различные методы которые можно применить к списку

In [241]:
lst

[10, 2, 2, 3, 4]

In [ ]:
lst.append(item)       # Вставить в конец
lst.pop()              # Удалить последний и возвратить значение
lst.insert(indx, item) # Вставка в указанную позицию
lst.count(item)        # Найти количество вхождений значений в списке
lst.index(item)        # Индекс первого вхождения значения в списке
lst.remove(item)       # Удалить первое вхождение значения в список
lst.sort()             # Сортировать список
lst.reverse()          # Записать в обратном порядке

In [246]:
lst = [1,2,3,1,111,222]
print(lst)
lst.remove(1)
print(lst)

[1, 2, 3, 1, 111, 222]
[2, 3, 1, 111, 222]

In [247]:
lst.remove(1)

In [248]:
lst

[2, 3, 111, 222]

В Python сущетвуют встроенные функции, которые также можно применять к различным переменным, которые вы создали. Например: Вызов функции `min()` или `max()` осуществляется следующим образом:

In [254]:
#Внутрь фукнции min или max мы посадили список.
#Функция возвращает нам минимальное и максимальное число из списка соответственно
 
lst = [1, 3, 44, 12, 21, 1, -3, 1, 44, 12, 35, 13]
print(min(lst), max(lst)) 
lst.sort() # Метод .sort() возвращает вам отсортированный список по возрастанию
# print(lst)

-3 44

# Кортежи

_Кортеж_ (tuple) - неизменяемый (immutable) контейнер (в отличие от списка). В остальном они ведут себя так же, как списки.

In [257]:
x = (1, 2, 3, 'four') # Скобки можно опустить
print(x)
print(type(x))

(1, 2, 3, 'four')
<class 'tuple'>

In [258]:
x = 1, 2, 3, 'four'
x

(1, 2, 3, 'four')

In [259]:
x = (1,123,123,)
x

(1, 123, 123)

In [260]:
()

()

In [261]:
type(())

tuple

In [263]:
a=(1)
type(a)

int

In [264]:
type(a)

int

In [ ]:
(1,)

In [265]:
type(1)

int

In [267]:
type((1,))

tuple

In [268]:
x # Вспомним что хранится внутри x

(1, 123, 123)

In [275]:
print(x[0], x[1], x[-1], len(x))
print(x[1:3], x[:3], x[1:])  # Подкортежи

1 123 123 3
(123, 123) (1, 123, 123) (123, 123)

In [273]:
x[1:3]

(123, 123)

In [277]:
type(x[1:])

tuple

In [280]:
# x[2] = 4               # Нельзя!
#x[3:5] = [4, 5, 6]    # Нельзя!

In [281]:
y1 = (1, 3, 5, 7)
y2 = (2, 4, 6, 8)
y1 + y2                # Конкатенация

(1, 3, 5, 7, 2, 4, 6, 8)

In [283]:
a = 2
b = 10

b = a

In [291]:
a, b, c = (1, 2, 3)

In [292]:
a, b = b, a # Эта и последующая запись одинаковы

In [ ]:
(a, b) = (b, a) # Эта и предыдущая запись одинаковы

In [293]:
tpl = (1, 2, 3, 55)

In [294]:
a, b, c, d = (1, 2, 3, 55)
print(a, b, c, d)

1 2 3 55

# Словари
_Словарь_ ( _ассоциативный массив_ ) - изменяемый контейнер. Обращение к элементу словаря - по имени (ключу) элемента. В качестве ключей могут выступать любые неизменяемые типы, в частности, строки, числа (int, long, float), кортежи.

In [297]:
person = {'FirstName':'Isac','Яблоко':100}
print(person)

{'FirstName': 'Isac', 'Яблоко': 100}

In [298]:
person["Яблоко"]

100

In [309]:
person = {'FirstName': 'Isac', 'LastName': 'Newton', (1, 2): 5, 'Age': 22, 2:123, 2.3:2.3}

In [310]:
type(person)

dict

In [315]:
person['FirstName'] = 'Isaaaaaaaaac'
person['Profession'] = 'Scientist'
person['Age'] = 50
person[-33.5] = 0xFFFF
person[(1,3)] = [1, 2, 4,]
person[True] = [1, 2, 4,]
print(person)

{'FirstName': 'Isaaaaaaaaac', 'LastName': 'Newton', (1, 2): 5, 'Age': 50, 2: 123, 2.3: 2.3, 'Profession': 'Scientist', -33.5: 65535, (1, 3): [1, 2, 4], True: [1, 2, 4]}

In [316]:
person[(1, 2)] = '123' # В качестве ключей используем любые неизменяемые типы
person

{'FirstName': 'Isaaaaaaaaac',
 'LastName': 'Newton',
 (1, 2): '123',
 'Age': 50,
 2: 123,
 2.3: 2.3,
 'Profession': 'Scientist',
 -33.5: 65535,
 (1, 3): [1, 2, 4],
 True: [1, 2, 4]}

In [317]:
sparse = {(1, 3): 5.555, (4, 8): 6.666}
print(sparse)

{(1, 3): 5.555, (4, 8): 6.666}

In [318]:
(1, 4) in sparse

False

In [319]:
(1, 3) in sparse

True

In [320]:
person

{'FirstName': 'Isaaaaaaaaac',
 'LastName': 'Newton',
 (1, 2): '123',
 'Age': 50,
 2: 123,
 2.3: 2.3,
 'Profession': 'Scientist',
 -33.5: 65535,
 (1, 3): [1, 2, 4],
 True: [1, 2, 4]}

In [321]:
person.keys() # Метод "keys" выведет на экран ключи словаря

dict_keys(['FirstName', 'LastName', (1, 2), 'Age', 2, 2.3, 'Profession', -33.5, (1, 3), True])

In [322]:
person.values() # Метод "values" выведет на экран значения словаря

dict_values(['Isaaaaaaaaac', 'Newton', '123', 50, 123, 2.3, 'Scientist', 65535, [1, 2, 4], [1, 2, 4]])

In [324]:
'Isaaaaaaaaac' in person.values()

True

In [325]:
del person['FirstName']
print(person)

{'LastName': 'Newton', (1, 2): '123', 'Age': 50, 2: 123, 2.3: 2.3, 'Profession': 'Scientist', -33.5: 65535, (1, 3): [1, 2, 4], True: [1, 2, 4]}

In [326]:
person.items() # Метод "items" выводит на экран пары ключ:значение

dict_items([('LastName', 'Newton'), ((1, 2), '123'), ('Age', 50), (2, 123), (2.3, 2.3), ('Profession', 'Scientist'), (-33.5, 65535), ((1, 3), [1, 2, 4]), (True, [1, 2, 4])])

# Управляющие конструкции

## Условие `if`

In [329]:
brother_age > sister_age

True

In [331]:
brother_age = 19
sister_age = 18
if brother_age > sister_age:
    print(brother_age) # Условие if контролирует: Можно ли зайти внутрь в конструкцию после if или нет 
print('Все!')

19
Все!

In [333]:
brother_age = 20
sister_age = 13
if brother_age > sister_age:
    print('Брат старше сестры')
else:
    print('Брат не старше сестры')

Брат старше сестры

In [334]:
brother_age = 10
sister_age = 13
if brother_age > sister_age:
    print('Брат старше сестры')
else:
    if brother_age < sister_age: 
        print('Брат младше сестры')
    else:
        print('Брат и сестра одного возраста')

Брат младше сестры

Конструкция `elif` - это комбинация двух других конструкций `if` и `else`

In [338]:
brother_age = 20
sister_age = 20
if brother_age > sister_age:
    print('Брат старше сестры')
elif brother_age < sister_age: # elif может быть много
    print('Брат младше сестры')
#elif условие:
#    команды
elif brother_age == sister_age:
    print('Брат и сестра одного возраста')

Брат и сестра одного возраста

## Цикл `while`

In [341]:
a = 16
b = 4
tmp = a % b

In [342]:
print(tmp)

0

In [339]:
a = 16
b = 4
while b != 0:
    tmp = a % b
    a = b
    b = tmp

print(a)

4

In [347]:
eps = 1
while 1 + eps > 1:
    eps = eps - 0.1

print(eps)

-0.09999999999999987

Имеются `continue`, `break`

In [348]:
eps = 1
while 1 + eps > 1:
    eps = eps - 0.1
    break

print(eps)

0.9

In [353]:
eps = 1
i = 0
while 1 + eps > 1:
    eps = eps - 0.1
    print('Шаг номер: ', i)
    i = i + 1
    

print(eps)

Шаг номер:  0
Шаг номер:  1
Шаг номер:  2
Шаг номер:  3
Шаг номер:  4
Шаг номер:  5
Шаг номер:  6
Шаг номер:  7
Шаг номер:  8
Шаг номер:  9
Шаг номер:  10
-0.09999999999999987

# Цикл `for`

In [358]:
for k in range(1, 10): # функция range возвращает последовательность чисел от одного числа до другого
    print(k)

1
2
3
4
5
6
7
8
9

In [359]:
for number_name in [1, 2, 3, 4]:
    # continue
    print(number_name)

1
2
3
4

In [360]:
for i in "letters":
    print(i)

l
e
t
t
e
r
s

In [361]:
for item in [1, 2, 'three', 'four', [5, 6, 7]]:
    print(item)

1
2
tree
four
[5, 6, 7]

In [364]:
### Вспомним как обращаться к словарю
person = {'surname': 'Gauss', 'name': 'Karl', (1, 2): 3}

In [366]:
person['surname']

'Gauss'

In [368]:
for key in person:
    # print(key)
    print(person[key])

Gauss
Karl
3

# Функции

In [381]:
for i in range(1,6,2):
    print(i)

1
3
5

In [382]:
# Можно создавать свои функции, которые используются для сокращения кода
def some_function(a, b):
    a = abs(a)
    b = abs(b)
    for i in range(1,6,2):
        a = a + i 
        b = b + i 
    return a, b # Функция  должна возвращать то, что внутри посчитала иначе у в результате будет None

In [391]:
a, b = some_function(-5,10)

In [400]:
def fibo(B = 50):
    # Обычный комментарий
    '''
    Print Fibonacci numbers less than or equal to B
    '''
    a, b = 0, 1
    while b <= B:
        print(b)
        a, b = b, a + b

In [401]:
fibo(1000)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

### Видимость объектов

Имена из вызывающего контекста использовать можно, но присваивать им другие объекты нельзя.
Объекты менять можно.

In [403]:
def fun():
    a = 3
    print(a)

In [408]:
a = 123
fun()
print(a)

3
123

In [409]:
def fun():
    print(a + 1)  # Так можно
    # a = 3  # Так нельзя

    
a = 123
fun()    
print(a)

124
123

In [414]:
def fun():
    lst[0] = 'NewValue0'     # Можно!
    lst.append('NewValue3')

lst = [0, 1, 2]
fun()    
print(lst)

['NewValue0', 1, 2, 'NewValue3']

# Работа с модулями

```python
import модуль
from модуль import что-то конкретное
from модуль import *
import модуль as псевдоним
```

In [415]:
import math
print(math.pi, math.exp(1))

3.141592653589793 2.718281828459045

In [416]:
print(math.sqrt(2))

1.4142135623730951

In [ ]:
2**.5

In [ ]:
from math import pi, exp
print(pi, exp(1))

In [ ]:
from math import *
print(pi, exp(1), sin(pi), sqrt(2))

Любой файл с кодом на питоне - это уже модуль.
```python
import модуль
```
отправляет его на выполнение.

Несколько модулей можно объединять в пакеты.